.casino-name {
    background: radial-gradient(circle at 25%, hsl(60deg, 100%, 75%, 0.75) 5%, hsl(0deg, 0%, 20%, 0) 50%), 
                radial-gradient(circle at 75%, hsl(60deg, 100%, 75%, 0.75) 5%, hsl(0deg, 0%, 20%, 0) 50%), 
                conic-gradient(hsl(41deg, 96%, 59%) 25deg, hsl(49deg, 97%, 70%) 25deg 60deg, hsl(41deg, 96%, 59%) 60deg 80deg, hsl(49deg, 97%, 70%) 80deg 95deg, hsl(41deg, 96%, 59%) 95deg 115deg, hsl(49deg, 97%, 70%) 115deg 140deg, hsl(41deg, 96%, 59%) 140deg 190deg, hsl(49deg, 97%, 70%) 190deg 225deg, hsl(41deg, 96%, 59%) 225deg 250deg, hsl(49deg, 97%, 70%) 250deg 265deg, hsl(41deg, 96%, 59%) 265deg 280deg, hsl(49deg, 97%, 70%) 280deg 295deg, hsl(41deg, 96%, 59%) 295deg 315deg, hsl(49deg, 97%, 70%) 315deg 340deg, hsl(41deg, 96%, 59%) 340deg);
    border-radius: 1.1vmin;
}

/* Signature styling */

.signature {
    position: absolute;
    left: 0;
    bottom: 0;
}

.link {
    position: absolute;
    z-index: 10;
    left: calc(5vmin - 1rem);
    bottom: calc(5vmin - 1rem);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.link span {
    font-size: 2rem;
    font-family: arial, sans-serif;
    color: whitesmoke;
}

.my-name {
    position: relative;
}

.before,
.after {
    overflow: hidden;
    width: 0;
    transition: width 0.5s;
    transform-origin: right;
}

.before-text {
    display: inline-block;
    width: auto;
    text-align: right;
}

.after-text {
    display: flex;
    align-items: center;
    width: auto;
    height: 3rem;
    transform-origin: top center;
}

.link:hover .before {
    width: 3.5rem;
}

.link:hover .after {
    width: 5rem;
}

.link:hover .spin {
    display: inline-block;
    transition: 0.5s transform 0.5s ease-in-out;
    transform: rotate(360deg);
}
